body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.bs-group>.input-group-prepend {
    flex: 0 0 50%;
}

.bs-group .input-group-text {
    width: 100%;
}

.bs-group{
    width: 200px;
}

.settings-input-group {
    width: 100px;
}

.prepend{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.append {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.top{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.bottom {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.moves {
  float: left;
  width: 30px;
  height: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.scoretable{
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  width: fit-content;
  block-size: fit-content;
}

.game-info {
  margin-left: 20px;
}

.playericons{
  font-size: 3rem;
}

.scorefont{
  font-size: 1.5rem;
}

.blueplay{
  color: blue;
}

.redplay{
  color: red;	
}

.status {
  text-align: left;
  font-size: 80%;
}

.center {
  margin: auto;
  width: 80%;
  border: 3px solid green;
  padding: 10px;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.move-container { 
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}